{% extends "base.html" %}
	{% block content %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<table class="tabela">
				<colgroup>
					<col width="10%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
				</colgroup>
			{% for message in get_flashed_messages() %}
				<div class="alert alert-warning">
					{{ message }}
				</div>
        {% endfor %}
				<thead>
					<tr>
						<th colspan="6">Lista de Produtos</th>
					</tr>
					<tr>
						<th></th>
						<th>Produto</th>
						<th>Preço</th>
						<th>Qtd/Embalagem</th>
						<th>Qtd em Estoque</th>
						<th>Favoritar produto</th>
					</tr>
				</thead>
				<tbody align="Center">
				{% for produto in produtos %}
					<tr>
						<td><img src="../static/img/download.png"></td>
						{% if current_user.role_id == 1 %}
						<td class="editar_produto"><a href="/editar_produto/{{ produto.id }}">{{produto.name}}</a></td>
						{% else %}
						<td>{{produto.name}}</td>
						{% endif %}
						<td>R${{produto.preco}}</td>
						<td>{{produto.peso}}</td>
						<td>{{produto.estoque}} unidades</td>
						<td class="editar_produto"><a href="{{ url_for('main.like', produto=produto.name) }}">Favorite este produto!</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% endblock %}